*.iml
.gradle
/local.properties
.idea
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
build/
.navigation
output.json

obj/
.externalNativeBuild

*.apk
*.ap_

*.dex

*.class

bin/
gen/

local.properties

Thumbs.db
.DS_Store
